In [1]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\brsantan\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\brsantan\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: findspark in c:\users\brsantan\anaconda3\lib\site-packages (2.0.1)

In [1]:
import findspark
findspark.init()

In [2]:
import re
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [3]:
# Criar o contexto do spark
sc = SparkContext()

# Instancia o criador de sessao do spark
spark = (SparkSession.builder
                     .master("local[*]")
                     .appName("Aceleração PySpark - Semana 4 - Perguntas Negocio - Capgemini"))

In [130]:
path_airports = ("../data/transformacao_airports_qa.parquet")
path_planes = ("../data/transformacao_planes_qa.parquet")
path_flights = (".../data/transformacao_flights_qa.parquet")

In [131]:

df_airports_tr = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")
                  .load(path_airports))

df_planes_tr = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")
                  .load(path_planes))

df_flights_tr = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")
                  .load(path_flights))

# <center> Join's dos DataSet's

# <center> Pergunta 1

In [132]:
df_1 = df_airports_tr
df_2 = df_airports_tr

In [133]:
df_1 = (df_1.withColumnRenamed('faa', 'faa_O')
.withColumnRenamed('name', 'name_O')
.withColumnRenamed('lat', 'lat_O')
.withColumnRenamed('lon', 'lon_O')
.withColumnRenamed('alt', 'alt_O')
.withColumnRenamed('tz', 'tz_O')
.withColumnRenamed('dst', 'dst_O')
.withColumnRenamed('region', 'region_O')
.withColumnRenamed('type', 'type_O')
.withColumnRenamed('military', 'military_O')        
.withColumnRenamed('administration', 'administration_O')
       )

In [134]:
df_1.show()

+-----+--------------------+---------+-----------+-----+----+-----+-------------+------+----------+----------------+
|faa_O|              name_O|    lat_O|      lon_O|alt_O|tz_O|dst_O|     region_O|type_O|military_O|administration_O|
+-----+--------------------+---------+-----------+-----+----+-----+-------------+------+----------+----------------+
|  04G|   Lansdowne Airport|41.130474|  -80.61958| 1044|  -5|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  06A|Moton Field Munic...| 32.46057|  -85.68003|  264|  -5|    A|MAINLAND-EAST|    AP|     false|               M|
|  06C| Schaumburg Regional| 41.98934|  -88.10124|  801|  -6|    A|MAINLAND-EAST|   NaN|     false|               R|
|  06N|     Randall Airport| 41.43191|  -74.39156|  523|  -5|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  09J|Jekyll Island Air...|31.074472|  -81.42778|   11|  -4|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  0A9|Elizabethton Muni...|36.371223| -82.173416| 1593|  -4|    A|MAINLAND-EAST|    AP|     false|               M|
|  0G6|Williams County A...|41.467304| -84.506775|  730|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  0G7|Finger Lakes Regi...|42.883564| -76.781235|  492|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  0P2|Shoestring Aviati...|39.794823| -76.647194| 1000|  -5|    A|MAINLAND-EAST|   NaN|     false|             NaN|
|  0S9|Jefferson County ...| 48.05381|-122.810646|  108|  -8|    A|MAINLAND-WEST|   NaN|     false|               I|
|  0W3|Harford County Ai...|39.566837|   -76.2024|  409|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  10C|  Galt Field Airport| 42.40289| -88.375114|  875|  -6|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  17G|Port Bucyrus-Craw...|40.781555|  -82.97481| 1003|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  19A|Jackson County Ai...|34.175865|   -83.5616|  951|  -4|    A|MAINLAND-EAST|    AP|     false|               R|
|  1A3|Martin Campbell F...|35.015804|  -84.34683| 1789|  -4|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  1B9| Mansfield Municipal|42.000134|  -71.19677|  122|  -5|    A|MAINLAND-EAST|   NaN|     false|               M|
|  1C9|Frazier Lake Airpark|54.013332| -124.76833|  152|  -8|    A|       ALASKA|    AK|     false|             NaN|
|  1CS|Clow Internationa...|41.695976| -88.129234|  670|  -6|    A|MAINLAND-EAST|    AP|     false|               I|
|  1G3|  Kent State Airport| 41.15139|  -81.41511| 1134|  -4|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  1OH|     Fortman Airport|40.555325|  -84.38662|  885|  -5|    A|MAINLAND-EAST|    AP|     false|             NaN|
+-----+--------------------+---------+-----------+-----+----+-----+-------------+------+----------+----------------+
only showing top 20 rows

In [135]:
df_2 = (df_2.withColumnRenamed('faa', 'faa_D')
.withColumnRenamed('name', 'name_D')
.withColumnRenamed('lat', 'lat_D')
.withColumnRenamed('lon', 'lon_D')
.withColumnRenamed('alt', 'alt_D')
.withColumnRenamed('tz', 'tz_D')
.withColumnRenamed('dst', 'dst_D')
.withColumnRenamed('region', 'region_D')
.withColumnRenamed('type', 'type_D')
.withColumnRenamed('military', 'military_D')        
.withColumnRenamed('administration', 'administration_D')

)

In [136]:
df_2.show()

+-----+--------------------+---------+-----------+-----+----+-----+-------------+------+----------+----------------+
|faa_D|              name_D|    lat_D|      lon_D|alt_D|tz_D|dst_D|     region_D|type_D|military_D|administration_D|
+-----+--------------------+---------+-----------+-----+----+-----+-------------+------+----------+----------------+
|  04G|   Lansdowne Airport|41.130474|  -80.61958| 1044|  -5|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  06A|Moton Field Munic...| 32.46057|  -85.68003|  264|  -5|    A|MAINLAND-EAST|    AP|     false|               M|
|  06C| Schaumburg Regional| 41.98934|  -88.10124|  801|  -6|    A|MAINLAND-EAST|   NaN|     false|               R|
|  06N|     Randall Airport| 41.43191|  -74.39156|  523|  -5|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  09J|Jekyll Island Air...|31.074472|  -81.42778|   11|  -4|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  0A9|Elizabethton Muni...|36.371223| -82.173416| 1593|  -4|    A|MAINLAND-EAST|    AP|     false|               M|
|  0G6|Williams County A...|41.467304| -84.506775|  730|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  0G7|Finger Lakes Regi...|42.883564| -76.781235|  492|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  0P2|Shoestring Aviati...|39.794823| -76.647194| 1000|  -5|    A|MAINLAND-EAST|   NaN|     false|             NaN|
|  0S9|Jefferson County ...| 48.05381|-122.810646|  108|  -8|    A|MAINLAND-WEST|   NaN|     false|               I|
|  0W3|Harford County Ai...|39.566837|   -76.2024|  409|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  10C|  Galt Field Airport| 42.40289| -88.375114|  875|  -6|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  17G|Port Bucyrus-Craw...|40.781555|  -82.97481| 1003|  -5|    A|MAINLAND-EAST|    AP|     false|               R|
|  19A|Jackson County Ai...|34.175865|   -83.5616|  951|  -4|    A|MAINLAND-EAST|    AP|     false|               R|
|  1A3|Martin Campbell F...|35.015804|  -84.34683| 1789|  -4|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  1B9| Mansfield Municipal|42.000134|  -71.19677|  122|  -5|    A|MAINLAND-EAST|   NaN|     false|               M|
|  1C9|Frazier Lake Airpark|54.013332| -124.76833|  152|  -8|    A|       ALASKA|    AK|     false|             NaN|
|  1CS|Clow Internationa...|41.695976| -88.129234|  670|  -6|    A|MAINLAND-EAST|    AP|     false|               I|
|  1G3|  Kent State Airport| 41.15139|  -81.41511| 1134|  -4|    A|MAINLAND-EAST|    AP|     false|             NaN|
|  1OH|     Fortman Airport|40.555325|  -84.38662|  885|  -5|    A|MAINLAND-EAST|    AP|     false|             NaN|
+-----+--------------------+---------+-----------+-----+----+-----+-------------+------+----------+----------------+
only showing top 20 rows

In [137]:
df_planes_tr = (df_planes_tr.withColumnRenamed('tailnum', 'tailnum_P'))

In [138]:
df_planes_tr.show()

+---------+----+---------+------------+--------+-------+-----+-----+---------+--------+----+-----------+
|tailnum_P|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar| age|engine_type|
+---------+----+---------+------------+--------+-------+-----+-----+---------+--------+----+-----------+
|   N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|24.0|        FAN|
|   N103US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      US|23.0|        FAN|
|   N104UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N105UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N107US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      US|23.0|        FAN|
|   N108UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N109UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N110UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N111US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      US|23.0|        FAN|
|   N11206|2000|MULTI_ENG|      BOEING| 737-824|      2|  149|  414|Turbo-fan|        |22.0|        FAN|
|   N112US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      US|23.0|        FAN|
|   N113UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N114UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|23.0|        FAN|
|   N117UW|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW|22.0|        FAN|
|   N118US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      US|22.0|        FAN|
|   N119US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      US|22.0|        FAN|
|   N1200K|1998|MULTI_ENG|      BOEING| 767-332|      2|  330|  917|Turbo-fan|       K|24.0|        FAN|
|   N1201P|1998|MULTI_ENG|      BOEING| 767-332|      2|  330|  917|Turbo-fan|       P|24.0|        FAN|
|   N12114|1995|MULTI_ENG|      BOEING| 757-224|      2|  178|  495|Turbo-jet|        |27.0|        JET|
|   N121DE|1987|MULTI_ENG|      BOEING| 767-332|      2|  330|  917|Turbo-fan|      DE|35.0|        FAN|
+---------+----+---------+------------+--------+-------+-----+-----+---------+--------+----+-----------+
only showing top 20 rows

In [139]:
df = (df_flights_tr.join(df_1,
(df_flights_tr.origin == df_1.faa_O)
,"left")
)

In [140]:
df = (df.join(df_2,
(df.dest == df_2.faa_D)
,"left")
)

In [141]:
df = (df.join(df_planes_tr,
(df.tailnum == df_planes_tr.tailnum_P)
,"left")
)

In [142]:
len(df.columns)

51

In [143]:
df.printSchema()

root
 |-- dep_time: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- dep_datetime: timestamp (nullable = true)
 |-- air_time_projected: integer (nullable = true)
 |-- air_time_expected: integer (nullable = true)
 |-- haul_duration: string (nullable = true)
 |-- dep_season: string (nullable = true)
 |-- dep_delay_category: string (nullable = true)
 |-- faa_O: string (nullable = true)
 |-- name_O: string (nullable = true)
 |-- lat_O: float (nullable = true)
 |-- lon_O: float (nullable = true)
 |-- alt_O: integer (nullable = true)
 |-- tz_O: integer (nullable = true)
 |-- dst_O: string (nullable = true)
 |-- region_O: string (nullable = true)
 |-- type_O: string (nullable = true)
 |-- military_O: boolean (nullable = true)
 |-- administration_O: string (nullable = true)
 |-- faa_D: string (nullable = true)
 |-- name_D: string (nullable = true)
 |-- lat_D: float (nullable = true)
 |-- lon_D: float (nullable = true)
 |-- alt_D: integer (nullable = true)
 |-- tz_D: integer (nullable = true)
 |-- dst_D: string (nullable = true)
 |-- region_D: string (nullable = true)
 |-- type_D: string (nullable = true)
 |-- military_D: boolean (nullable = true)
 |-- administration_D: string (nullable = true)
 |-- tailnum_P: string (nullable = true)
 |-- year: string (nullable = true)
 |-- type: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- engines: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- speed: decimal(13,0) (nullable = true)
 |-- engine: string (nullable = true)
 |-- tailchar: string (nullable = true)
 |-- age: double (nullable = true)
 |-- engine_type: string (nullable = true)

# <center> Pergunta 2

In [184]:
df.select('name_D').distinct('name_D').show(100)

TypeError: distinct() takes 1 positional argument but 2 were given

In [153]:
df.groupBy('region_D').agg(F.count_distinct('name_D').alias('count')).show()

+-------------+-----+
|     region_D|count|
+-------------+-----+
|       ALASKA|    9|
|MAINLAND-EAST|   24|
|MAINLAND-WEST|   36|
+-------------+-----+

# <center> Pergunta 3

In [364]:
df.select("alt_O").orderBy('alt_O', ascending=False).show()
df.select("alt_D").orderBy('alt_D', ascending=False).show()

+-----+
|alt_O|
+-----+
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
|  433|
+-----+
only showing top 20 rows

+-----+
|alt_D|
+-----+
| 6602|
| 6602|
| 6602|
| 6602|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
| 6187|
+-----+
only showing top 20 rows

In [370]:
df.agg(F.max(F.abs(F.col("alt_O") - F.col("alt_D"))).alias("max")).show()

+----+
| max|
+----+
|6169|
+----+

# <center> Pergunta 4

In [271]:
(df.where((F.col('dep_delay') > 0) | (F.col('arr_delay') > 0))
 .agg(F.ceil(F.avg(F.col('dep_delay') + F.col('arr_delay'))).alias('Atraso medio')).show())

+------------+
|Atraso medio|
+------------+
|          35|
+------------+

# <center> Pergunta 5

In [274]:
(df.where((F.col('dep_delay') > 0)| (F.col('arr_delay') > 0))
    .groupBy(F.col('region_D'))
    .agg(F.ceil(F.avg(F.col('dep_delay') + F.col('arr_delay')))
        .alias('avg')).show())

+-------------+---+
|     region_D|avg|
+-------------+---+
|       ALASKA| 28|
|MAINLAND-EAST| 37|
|MAINLAND-WEST| 36|
+-------------+---+

# <center> Pergunta 6

In [277]:
(df.where((F.col('dep_delay') > 0) | (F.col('arr_delay') > 0))
    .groupBy(F.year('dep_datetime').alias('Year'))
    .agg(F.ceil(F.sum(F.col('dep_delay') + F.col('arr_delay')))
        .alias('minutes')).show())

+----+-------+
|Year|minutes|
+----+-------+
|2014| 166798|
+----+-------+

# <center> Pergunta 7

In [284]:
(df.select(F.year("dep_datetime").alias('ano'),"dep_delay","region_D" )
    .groupBy("ano", "region_D")
    .agg(F.sum('dep_delay').alias('atraso_acumulado_regiao')).show()
)

+----+-------------+-----------------------+
| ano|     region_D|atraso_acumulado_regiao|
+----+-------------+-----------------------+
|2014|       ALASKA|                   4891|
|2014|MAINLAND-EAST|                  16679|
|2014|MAINLAND-WEST|                  38825|
+----+-------------+-----------------------+

# <center> Pergunta 8

In [285]:
(df.select("air_time")   
   .agg(F.ceil(F.avg("air_time").alias("tempo_voo_medio"))).show()
)

+--------------------------------------+
|CEIL(avg(air_time) AS tempo_voo_medio)|
+--------------------------------------+
|                                   153|
+--------------------------------------+

# <center> Pergunta 9

In [290]:
(df.select("air_time", "region_D")
   .groupBy("region_D")
   .agg(F.ceil(F.avg("air_time")).alias("tempo_voo_medio_por_regiao")).show()
)

+-------------+--------------------------+
|     region_D|tempo_voo_medio_por_regiao|
+-------------+--------------------------+
|       ALASKA|                       228|
|MAINLAND-EAST|                       238|
|MAINLAND-WEST|                       116|
+-------------+--------------------------+

# <center> Pergunta 10

In [292]:
(df.select("air_time", "origin","dest")
   .groupBy("origin", "dest")
   .agg(F.ceil(F.avg("air_time")).alias("tempo_voo_medio_por_regiao")).show()
)

+------+----+--------------------------+
|origin|dest|tempo_voo_medio_por_regiao|
+------+----+--------------------------+
|   SEA| RNO|                        75|
|   SEA| DTW|                       220|
|   SEA| CLE|                       234|
|   SEA| LAX|                       127|
|   PDX| SEA|                        35|
|   SEA| BLI|                        23|
|   PDX| IAH|                       214|
|   PDX| PHX|                       131|
|   SEA| SLC|                        89|
|   SEA| SBA|                       119|
|   SEA| BWI|                       270|
|   PDX| IAD|                       268|
|   PDX| SFO|                        86|
|   SEA| KOA|                       348|
|   PDX| MCI|                       175|
|   SEA| SJC|                       104|
|   SEA| ABQ|                       143|
|   SEA| SAT|                       209|
|   PDX| ONT|                       112|
|   SEA| LAS|                       119|
+------+----+--------------------------+
only showing top 20 rows

# <center> Pergunta 11

In [297]:
(df.select('air_time','dep_datetime')
    .groupBy(F.year('dep_datetime'))
    .agg(F.ceil(F.sum('air_time')).alias('Tempo_Acumulado_Ano')).show()
)

+------------------+-------------------+
|year(dep_datetime)|Tempo_Acumulado_Ano|
+------------------+-------------------+
|              2014|            1528625|
+------------------+-------------------+

# <center> Pergunta 12

In [304]:
(df.select("air_time", "region_D")
   .groupBy("region_D")
   .agg(F.sum("air_time").alias("tempo_voo_medio_por_regiao")).show()
)

+-------------+--------------------------+
|     region_D|tempo_voo_medio_por_regiao|
+-------------+--------------------------+
|       ALASKA|                    230602|
|MAINLAND-EAST|                    508344|
|MAINLAND-WEST|                    789679|
+-------------+--------------------------+

# <center> Pergunta 13

In [305]:
(df.select("distance")   
   .agg(F.ceil(F.avg("distance").alias("distancia_media"))).show()
)

+--------------------------------------+
|CEIL(avg(distance) AS distancia_media)|
+--------------------------------------+
|                                  1209|
+--------------------------------------+

# <center> Pergunta 14

In [308]:
(df.select("distance", "region_D")
   .groupBy("region_D")
   .agg(F.ceil(F.avg("distance")).alias("distancia_media_por_regiao")).show()
)

+-------------+--------------------------+
|     region_D|distancia_media_por_regiao|
+-------------+--------------------------+
|       ALASKA|                      1742|
|MAINLAND-EAST|                      2043|
|MAINLAND-WEST|                       868|
+-------------+--------------------------+

# <center> Pergunta 15

In [314]:
(df.select("distance", "origin","dest")
   .groupBy("origin", "dest")
   .agg(F.ceil(F.avg("distance")).alias("distancia_voo_medio_por_rota")).show()
)

+------+----+------------------------+
|origin|dest|tempo_voo_medio_por_rota|
+------+----+------------------------+
|   SEA| RNO|                     564|
|   SEA| DTW|                    1927|
|   SEA| CLE|                    2021|
|   SEA| LAX|                     954|
|   PDX| SEA|                     129|
|   SEA| BLI|                      93|
|   PDX| IAH|                    1825|
|   PDX| PHX|                    1009|
|   SEA| SLC|                     689|
|   SEA| SBA|                     908|
|   SEA| BWI|                    2335|
|   PDX| IAD|                    2327|
|   PDX| SFO|                     550|
|   SEA| KOA|                    2688|
|   PDX| MCI|                    1482|
|   SEA| SJC|                     697|
|   SEA| ABQ|                    1180|
|   SEA| SAT|                    1774|
|   PDX| ONT|                     838|
|   SEA| LAS|                     867|
+------+----+------------------------+
only showing top 20 rows

# <center> Pergunta 16

In [312]:
(df.select('distance','dep_datetime')
    .groupBy(F.year('dep_datetime'))
    .agg(F.ceil(F.sum('distance')).alias('distancia_Acumulado_Ano')).show()
)

+------------------+-------------------+
|year(dep_datetime)|Tempo_Acumulado_Ano|
+------------------+-------------------+
|              2014|           12081516|
+------------------+-------------------+

# <center> Pergunta 17

In [319]:
(df.select("distance", "region_D")
   .groupBy("region_D")
   .agg(F.ceil(F.sum("distance")).alias("distancia_acumulada_por_regiao")).show()
)

+-------------+------------------------------+
|     region_D|distancia_acumulada_por_regiao|
+-------------+------------------------------+
|       ALASKA|                       1762553|
|MAINLAND-EAST|                       4378902|
|MAINLAND-WEST|                       5940061|
+-------------+------------------------------+

# <center> Pergunta 18

In [555]:
(df.select("seats", "origin","dest")
    .groupBy("origin", "dest")
    .agg(F.ceil(F.avg("seats")).alias("passageiro_voo_medio_por_rota")).show()
)

+------+----+-----------------------------+
|origin|dest|passageiro_voo_medio_por_rota|
+------+----+-----------------------------+
|   SEA| RNO|                          142|
|   SEA| DTW|                          213|
|   SEA| CLE|                          182|
|   SEA| LAX|                          155|
|   PDX| SEA|                           65|
|   SEA| BLI|                          164|
|   PDX| IAH|                          183|
|   PDX| PHX|                          196|
|   SEA| SLC|                          166|
|   SEA| SBA|                           80|
|   SEA| BWI|                          152|
|   PDX| IAD|                          188|
|   PDX| SFO|                          139|
|   SEA| KOA|                          171|
|   PDX| MCI|                          147|
|   SEA| SJC|                          137|
|   SEA| ABQ|                          145|
|   SEA| SAT|                          158|
|   PDX| ONT|                           80|
|   SEA| LAS|                          147|
+------+----+-----------------------------+
only showing top 20 rows

# <center> Pergunta 19

In [354]:
(df.select('seats','dep_datetime')
    .groupBy(F.year('dep_datetime'))
    .agg(F.ceil(F.sum('seats')).alias('passageiro_acumulado_Ano')).show()
)

+------------------+------------------------+
|year(dep_datetime)|passageiro_acumulado_Ano|
+------------------+------------------------+
|              2014|                 1509544|
+------------------+------------------------+

# <center> Pergunta 20

In [356]:
df.groupby('dest').count().orderBy('count',ascending=False).show(1)

+----+-----+
|dest|count|
+----+-----+
| SFO|  787|
+----+-----+
only showing top 1 row

# <center> Pergunta 21

In [426]:
df.groupBy('dest').agg(F.sum('seats')).orderBy(F.sum('seats'),ascending=False).show(1)

+----+----------+
|dest|sum(seats)|
+----+----------+
| SFO|    119635|
+----+----------+
only showing top 1 row

# <center> Pergunta 22

In [537]:
df.select('origin','dest','distance').where(F.col('origin') == 'PDX').orderBy('distance',ascending=False).show(1)

+------+----+--------+
|origin|dest|distance|
+------+----+--------+
|   PDX| LIH|    2631|
+------+----+--------+
only showing top 1 row

# <center> Pergunta 23

In [518]:
(df.select('dest','dep_datetime')
    .groupBy(F.month('dep_datetime'),'dest')
    .agg(F.count('dest')).orderBy(F.count('dest'),ascending=False).show(1))

+-------------------+----+-----------+
|month(dep_datetime)|dest|count(dest)|
+-------------------+----+-----------+
|                  5| LAX|         77|
+-------------------+----+-----------+
only showing top 1 row

# <center> Pergunta 24

In [445]:
df.groupBy('model').count().orderBy('count',ascending=False).show(1)

+-------+-----+
|  model|count|
+-------+-----+
|737-890| 1463|
+-------+-----+
only showing top 1 row

# <center> Pergunta 25

In [556]:
(df.where(df.model.isNotNull()).select('dest','model')
    .groupBy('model','dest').count().orderBy('count',ascending=False).show())

+---------+----+-----+
|    model|dest|count|
+---------+----+-----+
|  737-7H4| OAK|  141|
|  737-890| ANC|  138|
|  737-790| SNA|  122|
|  737-7H4| SMF|  114|
|  737-890| LAX|  110|
|  737-890| LAS|  108|
|  757-232| SLC|  104|
|  737-890| SAN|  102|
| A320-232| LGB|  102|
| A320-214| DEN|  102|
|  737-7H4| LAS|   97|
|  737-7H4| DEN|   93|
| A320-232| PHX|   91|
|  737-7H4| SJC|   89|
|  737-490| SFO|   87|
|EMB-120ER| PDX|   87|
| A319-131| SFO|   86|
| A320-232| SFO|   85|
|  737-7H4| PHX|   80|
|737-932ER| ATL|   80|
+---------+----+-----+
only showing top 20 rows

# <center> Pergunta 26

In [472]:
(df.select("engines", "haul_duration")
    .groupBy("haul_duration")
    .agg(F.ceil(F.avg("engines")).alias("media_motores_categoria")).show())

+-------------+-----------------------+
|haul_duration|media_motores_categoria|
+-------------+-----------------------+
|    LONG-HAUL|                      2|
|  MEDIUM-HAUL|                      2|
|   SHORT-HAUL|                      2|
+-------------+-----------------------+

# <center> Pergunta 27

In [478]:
(df.groupBy('dep_season').count().orderBy('count',ascending=False).show(1))

+----------+-----+
|dep_season|count|
+----------+-----+
|    SUMMER| 2918|
+----------+-----+
only showing top 1 row

# <center> Pergunta 28

In [557]:
(df.select('dep_season','dest').groupBy('dep_season','dest')
    .agg(F.count('dep_season')).orderBy(F.count('dep_season'),ascending=False).show())

+----------+----+-----------------+
|dep_season|dest|count(dep_season)|
+----------+----+-----------------+
|    SUMMER| SFO|              217|
|    SPRING| SFO|              199|
|      FALL| SFO|              198|
|    SPRING| LAX|              176|
|    WINTER| SFO|              173|
|    SUMMER| DEN|              172|
|    SUMMER| LAX|              163|
|    SPRING| DEN|              151|
|    SPRING| PHX|              148|
|      FALL| DEN|              145|
|    SPRING| LAS|              145|
|    SUMMER| ANC|              145|
|    WINTER| LAX|              139|
|      FALL| LAX|              137|
|    SUMMER| LAS|              136|
|    SUMMER| PHX|              134|
|    WINTER| PHX|              131|
|      FALL| LAS|              130|
|    SUMMER| ORD|              129|
|    SUMMER| DFW|              122|
+----------+----+-----------------+
only showing top 20 rows

# <center> Pergunta 29

In [512]:
(df.where((F.col('dep_delay_category') != 'ANTECIPATED') & (F.col('dep_delay_category') != 'INTIME'))
    .groupBy('dep_delay_category').count().orderBy('count',ascending=False).show(1))

+------------------+-----+
|dep_delay_category|count|
+------------------+-----+
|             MINOR| 3065|
+------------------+-----+
only showing top 1 row

# <center> Pergunta 30

In [515]:
(df.where((F.col('dep_delay_category') != 'ANTECIPATED') & (F.col('dep_delay_category') != 'INTIME'))
    .groupBy('dep_delay_category','origin','dest').count().orderBy('count',ascending=False).show(1))

+------------------+------+----+-----+
|dep_delay_category|origin|dest|count|
+------------------+------+----+-----+
|             MINOR|   SEA| SFO|  159|
+------------------+------+----+-----+
only showing top 1 row